<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Railo</display-name>
	<servlet>
		<servlet-name>CFMLServlet</servlet-name>
		<description>CFML runtime Engine</description>
		<servlet-class>railo.loader.servlet.CFMLServlet</servlet-class>
		<init-param>
	      <param-name>configuration</param-name>
	      <param-value>/WEB-INF/railo/</param-value>
	      <description>Configuraton directory</description>
	    </init-param>	
		<!-- init-param>
	      <param-name>railo-server-root</param-name>
	      <param-value>.</param-value>
	      <description>directory where railo root directory is stored</description>
	    </init-param -->
		<load-on-startup>1</load-on-startup>
	</servlet>	
	<!-- ===================================================================== -->
	<!-- Railo REST Servlet - handles Railo's RESTful web services             -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<servlet id="RESTServlet">
	  <description>Railo Servlet for RESTful services</description>
	  <servlet-name>RESTServlet</servlet-name>    
	  <servlet-class>railo.loader.servlet.RestServlet</servlet-class>
	  <load-on-startup>2</load-on-startup>
	</servlet>  


	<servlet>
		<servlet-name>AMFServlet</servlet-name>
		<description>AMF Servlet for flash remoting</description>
		<servlet-class>railo.loader.servlet.AMFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>	
	

	<!-- Tuckey Rewrite -->
	<filter>
       <filter-name>UrlRewriteFilter</filter-name>
       <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
       <!-- set the amount of seconds the conf file will be checked for reload
	    can be a valid integer (0 denotes check every time,
	    -1 denotes no reload check, default -1)
	    <init-param>
	        <param-name>confReloadCheckInterval</param-name>
	        <param-value>0</param-value>
	    </init-param>
	     -->
    </filter>
    <filter-mapping>
       <filter-name>UrlRewriteFilter</filter-name>
       <url-pattern>/*</url-pattern>
       <dispatcher>REQUEST</dispatcher>
       <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
	
	
    <!-- MessageBroker Servlet
		messageBrokerId: this id must be unique for every defintion of the MessageBrokerServlet
    <servlet>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
       </init-param>
	   <init-param> 
			<param-name>messageBrokerId</param-name> 
			<param-value>_default_</param-value>
	 	</init-param> 
    </servlet>
	 -->
	
	<!--
	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<description>File Servlet for simple files</description>
		<servlet-class>railo.loader.servlet.FileServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>	 
	-->

	<servlet-mapping>
		<servlet-name>CFMLServlet</servlet-name>
		<url-pattern>/index.cfm/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CFMLServlet</servlet-name>
		<url-pattern>*.cfm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CFMLServlet</servlet-name>
		<url-pattern>*.cfml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CFMLServlet</servlet-name>
		<url-pattern>*.cfc</url-pattern>
	</servlet-mapping> 
	
	<servlet-mapping>
	  <servlet-name>RESTServlet</servlet-name>
	  <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AMFServlet</servlet-name>
		<url-pattern>/openamf/gateway/*</url-pattern>
	  </servlet-mapping>
  
  <!--
  <servlet-mapping>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <url-pattern>/flex2gateway/*</url-pattern>
  </servlet-mapping>
	
  <servlet-mapping>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <url-pattern>/flashservices/gateway/*</url-pattern>
  </servlet-mapping>
	
  <servlet-mapping>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <url-pattern>/messagebroker/*</url-pattern>
  </servlet-mapping>
  -->
	
	
	<!--
	<servlet-mapping> 
		<servlet-name>FileServlet</servlet-name> 
		<url-pattern>/</url-pattern> 
	</servlet-mapping> 
	-->
<welcome-file-list>
	<welcome-file>index.cfm</welcome-file>
	<welcome-file>index.cfml</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
</welcome-file-list>

</web-app>
