# ColdBox Name and Environment
APPNAME=ContentBox Modular CMS
ADMIN_PASSWORD=contentbox
ENVIRONMENT=development

# DB Driver
DB_CLASS=com.mysql.jdbc.Driver
DB_DRIVER=MySQL
# DB Location
DB_HOST=127.0.0.1
DB_PORT=3306
DB_CONNECTIONSTRING=jdbc:mysql://127.0.0.1:3306/contentbox?useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useLegacyDatetimeCode=true
# DB Credentials
DB_DATABASE=contentbox
DB_USER=root
DB_PASSWORD=mysql
# Lucee Bundle Info
DB_BUNDLEVERSION=8.0.15
DB_BUNDLENAME=com.mysql.cj

# JWT Information
JWT_SECRET=

# SENTRY DATA
#SENTRY_DSN=https://5968f1f8254745abb12564fa5867e1b7:fcea025e7bf34d50a7be82e70ee7e1d1@sentry.ortuscloud.io/8

# S3 Information
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=us-east-1
S3_DOMAIN=amazonaws.com
