.DS_Store
.settings/**
settings.xml
.project
_paidModules/**
logs/**
/web.config
"Icon\r"
WEB-INF/**
test/logs/**
modules/contentbox/modules/HTMLCompressor
modules/contentbox/modules/PasteBin
modules/contentbox/modules/google-prettify
modules/_gsdata_
mxunit
*.cache.*
