# Global Ignores
.DS_Store
.sass-cache
.settings/**
settings.xml
.project
logs/**
*.cache.*
.idea
/web.config
"Icon\r"
Icon?
WEB-INF/**
# Workbench dependencies
workbench/resources/WEB-INF/*
workbench/build-contentbox/**
workbench/dependencies
workbench/node_modules
workbench/bower_components
workbench/build.number
workbench/apidocs/docbox
# Global Dependencies
coldbox/*
testbox/*
# Module Dependencies
modules/contentbox/themes/default/bower_components
modules/contentbox/themes/default/node_modules
modules/contentbox-admin/modules/contentbox-filebrowser/node_modules
modules/contentbox-admin/modules/contentbox-filebrowser/bower_components