language: java

# Slack Notifications
notifications:
  slack:
    secure: FIHlTn/YO7Wgumm1uIqmoEsqjQA7fV0AE94Rjc5yKzM3AquQa8HicgDVVk0d2GrKRnl0xt3j4ZJV//VJyIjlCd/QVKuj48R2ChjEY2im3+99HFPafCUI5/S2uyowKU6mJTFonH9v6p41eqxdbiAxJdDGOT0V2Gpt3UBSNuHz8ED9/aIHqv+P7M+VD6Xd2XYwctPniWlaSWx57sWcnG/VkFG45qFQAyha64uxOOe4M3ZmG/n5FfauZ8cBVLiRKEIr+CyNhh1ujfzi7+4uzMlSNL5t/BbZamAQuZzqGzGQ9RVvIlyPgUGNJtDEE/hWS09aagXF5T6EMj00szizErh4J1/x4qZwml5+TcBN31E0QmAhCtZe85sr3tYgic+hEz9XX1yymQzf/C7n4to2yNvq0r4g51xDk8IuP95WEh7zaqLlvFZvBFgxpHZBMYlRvhytjOYDeIFRMcGwHZcXosaG2ejqDwcGq/LC4oeG4sSwmg9sdRrtcmcanrNqrBka86WYO6LntI3JdZ86/1ACEUHzhCCwvrKELc9Ji1xxGAgS7QKH+s2/hnJuiMyv73gOVLKYC+wPMLt+fvOmPLSEl+PJiAIlToBq1KUBg03RSQLfPOLD7OrJ8VvDZsEPwejqlGDyc4wRglS9OTi7SnN5LYHSDNDdGdREegWqq9qDHEYEVLI=

branches:
  only:
  - development
  - master

sudo: required
dist: trusty

# Required for patches
git:
  depth: 500

env:
  matrix:
    - ENGINE=lucee@5
    - ENGINE=adobe@2016
    - ENGINE=adobe@2018

addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

before_install:
  # CommandBox Keys
  - curl -fsSl https://downloads.ortussolutions.com/debs/gpg | sudo apt-key add -
  - sudo echo "deb http://downloads.ortussolutions.com/debs/noarch /" | sudo tee -a
    /etc/apt/sources.list.d/commandbox.list

install:
  # Install Commandbox
  - sudo apt-get update && sudo apt-get --assume-yes install haveged commandbox jq
  # Install root dependencies
  - box version && box install
  # install contentbox dependencies
  - cd modules/contentbox && box install
  - cd $TRAVIS_BUILD_DIR
  # Store the Ortus API Key for forgebox publishing in `master`
  - box config set endpoints.forgebox.APIToken=$FORGEBOX_API_TOKEN > /dev/null

before_script:
  # create test database
  - mysql -u root -e 'create database contentbox;'
  # import database
  - mysql -u root < tests/resources/sql/mysql/contentbox.sql
  # Startup testing engine
  - box server start cfengine=$ENGINE name=$ENGINE port=8589 rewritesEnable=true

script:
  # Run tests
  - box package set testbox.runner="http://localhost:8589/tests/runner.cfm"
  - box testbox run verbose=true
  # Execute build via ANT
  - ant -DisTravis=true -Dbuild.number=$TRAVIS_BUILD_NUMBER -Dbuild.branch=$TRAVIS_BRANCH -f build/build.xml
  # Get ContentBox Version for rest of build process
  - PROJECT_VERSION="$(cat build/build-contentbox/version.json | jq -r '.version')"
  # Spit out debugging info
  - cat build/build-contentbox/module/box.json

after_failure:
  - cd $TRAVIS_BUILD_DIR
  - cat $TRAVIS_BUILD_DIR/tests/results/results.txt
  - box server log name=$ENGINE
  - cat `box system-log`

deploy:
  # Upload binaries
  - provider: s3
    on:
      branch:
        - development
        - master
      condition: "$ENGINE = lucee@4.5"
    skip_cleanup: true
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_ACCESS_SECRET
    bucket: "downloads.ortussolutions.com"
    local-dir: artifacts
    upload-dir: ortussolutions
    acl: public_read

  # Upload api docs
  - provider: s3
    on:
      branch:
        - development
        - master
      condition: "$ENGINE = lucee@4.5"
    skip_cleanup: true
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_ACCESS_SECRET
    bucket: "apidocs.ortussolutions.com"
    local-dir: build/build-contentbox/apidocs
    upload-dir: contentbox/$PROJECT_VERSION
    acl: public_read

# Now publish assets to ForgeBox
after_deploy:
  - build/forgebox-publish.sh;