/* This file is only utilized if minification/caching is turned off in the layout settings */

/* Global */
footer{ padding:20px 0; }
#body-main{ padding: 20px 0; }
#searchForm{ margin: 10px; }
#body-breadcrumbs{ margin-bottom: 25px }

/* Blog */
.post-content {
	margin: 20px 0;
}

.post-comments {
	font-size: 1.2em;
}

/* MessageBox */
.cbox_messagebox_info,
.cbox_messagebox_warning,
.cbox_messagebox_error {
	margin: 10px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 1.5em 1em 1.5em 2.5em;
}

.cbox_messagebox_info .cbox_messagebox,
.cbox_messagebox_warning .cbox_messagebox,
.cbox_messagebox_error .cbox_messagebox {
	background: url(../img/warning-icons.png) no-repeat;
	padding: 0 1em 0 2.5em;
	min-height: 30px;
}

.cbox_messagebox_info {
	border: 1px solid #72ad55;
	background-color: #ceefbe;
}

.cbox_messagebox_info .cbox_messagebox {
	color: #488A28;
	background-position: 0 -305px;
}

.cbox_messagebox_warning {
	border: 1px solid #fece89;
	background-color: #fff3c2;
}

.cbox_messagebox_warning .cbox_messagebox {
	color: #ab5e2a;
	background-position: 0 -150px;
}

.cbox_messagebox_error {
	border: 1px solid #d47676;
	background-color: #f6d4d4;
}

.cbox_messagebox_error .cbox_messagebox {
	color: #ae3f3f;
	background-position: 0 -75px;
}

/* Paging */
.pagingTabs {
	/* font-size: 11px; */
	margin: 10px 0 20px 0;
	border-top: 1px solid #E3E3E3;
	padding-top: 5px;
}

.pagingTabs a {
	color: #000;
	padding: 2px 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-left: 2px;
}

.pagingTabs a:hover {
		color: #000;
		background-color: #FCF9C3;
		border: 1px solid black;
	}

.pagingTabs a.selected {
	color: #000;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
}

.pagingTabs .label-info {
	background-color: #004f83;
}

.pagingTabsCarrousel {
	margin-top: 10px;
}

/* Breadcrumbs */
.breadcrumb > .divider {
	padding: 0 5px;
	color: #CCC;
}

.navbar > .container .brand-img {
	padding-top:0px;
	padding-bottom:0px;
}