.default-bg {
    background-color:$defaultColor;
}
.primary-bg {
    background-color:$primaryColor;
}
.success-bg {
    background-color:$successColor;
}
.warning-bg {
    background-color:$warningColor;
}
.info-bg {
    background-color:$infoColor;
}
.danger-bg {
    background-color:$dangerColor;
}
.default-txt {
    color:$defaultColor;
}
.primary-txt {
    color:$primaryColor;
}
.success-txt {
    color:$successColor;
}
.warning-txt {
    color:$warningColor;
}
.info-txt {
    color:$infoColor;
}
.danger-txt {
    color:$dangerColor;
}
.label-default {
    background-color:$defaultColor;
}
.label-primary {
    background-color:$primaryColor;
}
.label-success {
    background-color:$successColor;
}
.label-warning {
    background-color:$warningColor;
}
.label-info {
    background-color:$infoColor;
}
.label-danger {
    background-color:$dangerColor;
}