#container {
    width: 100%;
    height: 100%;
    z-index: 0;
    @include transition(all,.3s, ease-in-out);
}

 .main-content-wrapper {
    margin-left: 240px;
    margin-right: 0;
  @include transition(all, .3s,  ease-in-out);
    background: #f1f2f7;
    min-height: 1000px;
        & #main-content {
        border-top:solid thin #e7e8ec;
        display: inline-block;
        padding: 15px 15px 0 15px;
        width: 100%;
            & .h1 {
            margin: 0;
            padding: 0px 10px 40px 10px;
            float: left;
            line-height: 10px;
            font-weight: 300;
            font-size: 42px;
            font-family:'Source Sans Pro', Arial, sans-serif;
            }
         }
}

.main-content-toggle-left {
    margin-left:0;
}
.main-content-toggle-right {
    margin-right:240px;
}