 .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: $primaryColor;
    border-color: $primaryColor;
}
.pagination>li>a, .pagination>li>span {
    color: $primaryColor;
}