*
!/.gitignore

!/lucee4/WEB-INF/lucee-server/context/lucee-server.xml
!/lucee4/WEB-INF/lucee-web/lucee-web.xml.cfm

!/lucee5/WEB-INF/lucee-server/context/lucee-server.xml
!/lucee5/WEB-INF/lucee-web/lucee-web.xml.cfm

!/acf11/WEB-INF/cfusion/lib/neo-*.xml
!/acf11/WEB-INF/cfusion/lib/*.properties

!/acf2016/WEB-INF/cfusion/lib/neo-*.xml
!/acf2016/WEB-INF/cfusion/lib/*.properties
!*/