#FileBrowser #container{
	font-family: Verdana, Arial, Helvetica, sans-serif;
   	font-size: 11px;
    width: 98%;
    margin: 10px auto 10px auto; 
    border: 2px solid #ddd;
    background-color: #FFFFFF;
    -moz-box-shadow:0 0 15px #ccc; -webkit-box-shadow:0 0 15px #ccc; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#FileBrowser img{
	vertical-align: middle;	
}
#FileBrowser #titleBar{
    border-bottom:1px solid #ddd; 
    background-color: #f5f5f5;
    padding: 10px;
}
#FileBrowser #titleBar label{
    font-size: 10px;
    font-weight:bold;
    display: inline;
}
#FileBrowser #titleBar #title{
    float: right;
    background: url(../images/coldbox_icon.png) no-repeat left center; 
    font-size: 14px;
    font-weight:bold;
    padding-left: 25px;
}
#FileBrowser #quickViewBar{
	 display:none; text-align:center; background-color:#ccc; padding:8px; position: absolute; left:25%;
	 background-color: #555;-moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; -moz-border-radius:6px; -webkit-border-radius:6px;
}
#FileBrowser #quickViewBar #fbCloseButton{ float:right; margin: -5px 0px 0px 5px; cursor:pointer;}
#FileBrowser #quickViewBar #quickViewBarContents{float:left;}
#FileBrowser #uploadBar{
	display:none; text-align:center; background-color:#ccc; padding:5px
}
#FileBrowser #loaderBar{
	float:left;
	margin: 5px 0px 0px 0px;	
	display: none;
}
#FileBrowser #fileListing{
    line-height:15px;
    min-height: 200px;
	padding: 5px;
    overflow: auto;
}
#FileBrowser input[type=button]{
	border: 1px solid #CCC; 
	background: #FFFFFF url(../images/headerbg.gif) repeat-x bottom left; 
	padding: 4px; 
	font-size: 10px;
	font-weight: bold; 
	color: #333;
	cursor: pointer;
}
#FileBrowser input[type=button]:hover {
	 background: #FFFFF0;
	 border: 1px inset #ccc;
}
#FileBrowser input[type=button][disabled]{
	 background: #f6f6f6;
	 border-style: solid;
	 color: #999;
}

#FileBrowser #locationBar{
    font-size:10px;
    background-color: #C4C0C0;
    padding:5px;
    border-top:1px solid #ddd;
}
#FileBrowser .bottomBar{
    border-top:1px solid #ddd; 
    background-color: #f5f5f5;
    padding: 5px;
    font-weight:bold; 
    min-height: 20px;
}
#FileBrowser #statusText{float: left; margin:0px;font-size:10px;}
#FileBrowser #statusButtons{text-align:right}
#FileBrowser .folders, #FileBrowser .files{ cursor:pointer;margin: 0px;padding:2px; }
#FileBrowser .folders.selected, #FileBrowser .files.selected{ background-color: #B3C6F9}
#FileBrowser .divider{ align: center;}