/***** MAIN ELEMENTS *****/
html{ 
	height:100%;
	color: #3B3B3B;
}
body{ 
	margin: 0;
	padding-top: 40px;
  	font: 12px Arial,Helvetica,sans-serif;
	line-height: 20px;
	color: #333333;
	background-image: linear-gradient(to bottom, #000132, #004D85);
	background-image: -moz-linear-gradient(top, #000132, #004D85);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000132), to(#004D85));
	background-image: -webkit-linear-gradient(top, #000132, #004D85);
	background-image: -o-linear-gradient(top, #000132, #004D85);
	background-image: linear-gradient(to bottom, #000132, #004D85);
	background-repeat: repeat-x;
}
/***** ADMIN MENU TOP NAVBAR *****/
#adminMenuTopNav { font-size: 13px;}
#adminMenuTopNav .brand{ font-size: 14px; padding-right:10px}
#adminMenuTopNav .nav > li > a { padding: 8px 5px;}
#adminMenuTopNav .navbar-inner {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #525252, #111111);
    background-image: -moz-linear-gradient(top, #525252, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#525252), to(#111111));
	background-image: -webkit-linear-gradient(top, #525252, #111111);
	background-image: -o-linear-gradient(top, #525252, #111111);
	background-image: linear-gradient(to bottom, #525252, #111111);
	background-repeat: repeat-x;
    border-color: #252525;
}
#adminMenuTopNav #logo{ margin: 5px 10px 0px 0px;float:left;height:25px}
#adminActionNotifier{ font-size:13px; position: absolute; right:10px; min-width:250px; z-index: 9999; box-shadow:0 0 6px #ccc; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; margin: auto}
/***** ADMIN MENU NAVBAR SEARCH *****/
#nav-search{ margin-top: 2px}
#div-search-results{
	display: none;
	top: 35px;background-color: black; padding: 5px 10px; width: 400px; position: absolute; min-heigh: 100px; z-index: 9999;
	box-shadow:0 0 6px #ccc; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; 
	border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;
}
#div-search-results h2{ color: #31ADE8; font-size: 16px; font-weight: normal;}
#div-search-results ul{ font-size: 12px}
#div-search-results li{ margin: 3px 0px }
/***** ADMIN MAIN GENERATED MENU *****/
#adminMenuBar {  }
#adminMenuBar .nav > li { line-height:20px;}
#adminMenuBar .nav > li > a{ padding: 10px;}
/***** FOOTER *****/
footer {
    background-color: #1B1B1B;
    opacity: 0.90;
    background-image: linear-gradient(to bottom, #3B3B3B, #111111);
    background-image: -moz-linear-gradient(top, #3B3B3B, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3B3B3B), to(#111111));
	background-image: -webkit-linear-gradient(top, #3B3B3B, #111111);
	background-image: -o-linear-gradient(top, #3B3B3B, #111111);
	background-image: linear-gradient(to bottom, #3B3B3B, #111111);
	background-repeat: repeat-x;
    border-color: #252525;
    border-top: 1px solid #222222;
    box-shadow: 0 1px 0 #666666 inset;
    color: #EEEEEE;
    bottom: 0px;
    position:fixed;
    height: 50px;
    padding: 20px;
    width: 100%;
    font-size: 11px;
}
footer a { color:#fff; text-decoration:underline; }
footer a:hover{ color: #3a87ff}
footer #footerLogo img{ margin:-17px 35px; box-shadow:0 0 6px #ccc; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; }