/** Theme Overrides */
.loaders {
  margin: 10px;
  display: none;
  text-align: center;
}
.tipList li {
  padding: 5px 0px 0px 0px;
}
.tab-pane .row.well.well-sm {
  margin: 0 1px 10px;
}
a.btn.btn-danger:link,
a.btn.btn-danger:visited {
  color: white !important;
}
.nav-tabs > li >a:hover{
	background-color: #eaeaea;
}
/** Header */
#header .brand{ 
	background-color: white!important; 
}
#header .logo{
	padding: 15px 0 0 0px !important;
	background: none !important;
}
#header .user-nav {
    padding-right: 60px;
}
/* vertical align */
#header a.btn-default{
	padding-top: 6px;
	vertical-align: middle;
}
/* close gap between li's */
#header .user-nav ul li{
    margin: 0px 5px;
}
#header .user-nav ul li.dropdown.settings .dropdown-menu {
	width: 230px;
	left: -80px;
}
#header .user-nav ul li.dropdown.settings {
  	line-height: 39px;
  	margin: 0px 5px;
  	padding: 0px;
}
#header .user-nav ul li.dropdown.settings .dropdown-menu:after {
	left: 43%;
}
#header .user-nav ul li.dropdown.settings .dropdown-menu:before {
	left: 43%;
}
#login-wrapper #username{
    padding-left: 32px;
}
.main-content-wrapper .dropdown-menu > li > a:hover, .main-content-wrapper .dropdown-menu > li > a:active {
    background-color: #16a086;
}
/**============================== ADMIN MAIN ELEMENTS ==============================**/

/**
ul { list-style:disc inside; }
img{ height: inherit; }
img.img-screenshot{ height: 200px; }
input, textarea, .uneditable-input { width: inherit; }
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -91px;
}
#main-container { padding-top: 100px; margin-bottom: 20px; }
#simple-container { padding-top: 60px; }
#main-sidebar{ margin-left: 20px !important;}
.container-fluid{ padding-bottom: 30px }
.hero-unit{padding:50px; margin-top:20px; margin-bottom: 20px}
.well{ margin-bottom: 10px; margin-top: 10px;}
.gravatar{ height: auto; }
**/
/**============================== ADMIN MAIN NAVBAR SEARCH ==============================**/
#nav-search { padding: 6px 14px 2px 14px; }
#div-search-results{
	display: none;
	top: 35px;background-color: black; padding: 5px 10px; width: 400px; position: absolute; min-height: 100px; z-index: 9999;
	box-shadow:0 0 6px #ccc; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; 
	border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;
}
#div-search-results h2{ color: #31ADE8; font-size: 16px; font-weight: normal;}
#div-search-results ul{ font-size: 12px}
#div-search-results li{ margin: 3px 0px }
/**============================== ColdBox MessageBox ==============================**/
.cbox_messagebox { font-weight:bold; margin:10px; }
.cbox_messagebox_info { background:#D1E6EF url(../images/iinfo_icon.png) no-repeat scroll .5em 50%; color:#3760b5; border:1px solid #c3d7ff; margin:.3em auto; padding:0 1em 0 3.5em; }
.cbox_messagebox_warning { background:#FFF2CF url(../images/warning_icon.png) no-repeat scroll .5em 50%; color:#bc6c34; border:1px solid #bc6c34; margin:.3em auto; padding:0 1em 0 3.5em; }
.cbox_messagebox_error { background:#FFFFE0 url(../images/error_icon.png) no-repeat scroll .5em 50%; color:#b22723; border:1px solid #ff0606; margin:.3em auto; padding:0 1em 0 3.5em; }
/**============================== FILEBROWSER CSS ==============================**/
#FileBrowser #statusText {margin:0px !important}
#FileBrowser #fileListing{min-height: 350px !important ;}
/**============================== DIFF CSS ==============================**/
.consoleLog{ border:2px solid #eaeaea;padding:5px;font-size:11px;font-family: courier;background-color:black;color:#66E10D}
/**============================== Utility Classes ==============================**/
.floatLeft { float:left!important; }
.floatRight { float:right!important; }
.text{ color: #333333}
.textGreen{ color: #468847 }
.textOrange{ color:#C09853 }
.textRed{ color:#B94A48}
.textBlue{ color:#3A87AD}
.textWhite{ color:white}
.textRight { text-align:right!important; }
.textLeft { text-align:left!important; }
.textCenter { text-align:center!important; }
.center { text-align:center!important; margin:auto!important; }
.padding10 { padding:10px; }
.margin10 { margin:10px; }
.margin0 { margin:0px; }
.width98{ width: 98%; }
.width96{ width: 96%; }
.width95{ width: 95%; }
.width94{ width: 94%; }
.marginRight5{ margin-right:5px}
.hidden { display:none!important; }
.show{ display: block; }
.flickerMessages { margin:0 0 10px; padding:15px 15px 15px 40px; font-weight:bold; display:none; background:#EFD1D8 URL(../images/iinfo_icon.png) no-repeat 2% 50%; }
.cachebox_debugContentCell{clear: none !important;}
.grabCursors{cursor:grab !important;cursor:-moz-grab !important;cursor:-webkit-grab !important;}
.hand-cursor{cursor:pointer !important;}
/**============================== FORGEBOX CSS ==============================**/
#forgebox-entrysidebar { width:180px; float:right; }
#forgebox-entrycontent { width:515px; }
.forgeBox-entrybox { margin:10px 0px 0px 0px; border:1px solid #CCC; background:#FFFFFF url(../images/divbg.gif) repeat-x bottom left; padding:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; }
.forgebox-rating { float:right; margin-right:5px; }
.forgebox-infobox { top:20px !important; border:10px solid #666; padding:10px; background-color:#fff; width: 95%; min-height: 70%;-moz-box-shadow:0 0 15px #ccc; -webkit-box-shadow:0 0 15px #ccc; -moz-border-radius:6px; -webkit-border-radius:6px;width:90%}
.forgebox-infobox a.close { background:url(../images/x.png) no-repeat scroll 0 0; position:absolute; right:-5px; top:-5px; width:25px; height:29px; cursor:pointer; }
.forgebox-infobox h2 { background:#FFF url(../images/box_header_bg.gif) repeat-x; margin:-10px; margin-bottom: .5em; padding:5px 10px!important; color:inherit; }
.forgebox-download { float:right; clear:right; }
.forgebox-modal{ height: auto; width: 50%}