/**============================== Reset CSS ==============================**/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; vertical-align:baseline; }
img { vertical-align:middle; }
body { margin:0; width:100%; height:100%; position:relative; padding-bottom:80px; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; }
:focus { outline:0; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; }
/**============================== General Positioning Classes ==============================**/
.wf { width:100%; }
.tar { text-align:right; }
.tal { text-align:left; }
.tac { text-align:center; }
.fl { float:left; }
.fr { float:right; }
.clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
/**============================== Body Styles & Wrapper ==============================**/
html { font:62.5% Arial, Helvetica, sans-serif; line-height:2.4em; }
.wrapper { width:98%; 
	/** Change this to px to make the layout fixed! **/
	margin:0 auto; position:relative; }
#content_bg { padding-bottom:20px; }
.content { font-size:1.3em; padding-top:5px; }
/**============================== Element Styling ==============================**/
a { text-decoration:none; }
h1,h2,h3,h4,h5,h6 { margin-top: 10px; margin-bottom:.3em; font:normal 1em Arial, Helvetica, sans-serif; }
h1 { font-size:2.4em; }
h2 { font-size:2.1em; }
h3 { font-size:1.7em; }
h4 { font-size:1.6em; }
h5 { font-size:1.5em; }
h6 { font-size:1.3em; }
hr { height:1px; margin:2em 0; border-bottom:1px solid; border-top-style:none; border-right-style:none; border-left-style:none; }
td,th { padding:5px; display:table-cell; }
p { margin:0 0 1em; }
ol { list-style:decimal inside; }
ul { list-style:disc inside; }
blockquote { font-style:italic; padding-left:4em; background:no-repeat left top; margin:3em 0; }
/**============================== Form Styling ==============================**/
fieldset { padding:1em; }
fieldset legend { font-weight:bold; }
form label { font-size:1em; font-weight:bold; display:block; margin:2px 0; }
form p small { font-size: 1em; display:block; }
form input.textfield,form select,form textarea,form .wysiwyg { padding:6px; margin-right:4px; }
form input.small { width:40%; }
form input.med { width:60%; }
form input.large { width:95%; }
form textarea,form .wysiwyg { font-family:Arial, Helvetica, sans-serif; width:96%; font-size:1em; }
form input[type=checkbox],form input[type=radio] { padding:0; background:none; border:0; }
.wysiwyg { width:auto!important; }
/******* Form Hints and Errors **********/
.form_error { font-style:italic; font-size:.9em; padding-left:20px; }
.form_hint { font-style:italic; font-size:.9em; padding-left:20px; }
/**============================== Buttons ==============================**/
.button,.button2,.buttonred { padding:4px 7px 7px; cursor:pointer; font-weight:bold; margin-right:3px; text-decoration:none; -webkit-border-radius:5px; -khtml-border-radius:5px; }
/**============================== Header ==============================**/
#header_bg { height:126px; }
#header_top { font-size:1.2em; padding-top:8px; height:10px; }
#header_top a { text-decoration:none; margin-right: 5px; }
#header_top a:hover { text-decoration:underline; }
/************ Search field in Header ************/
.header_search { float:right; margin-top:25px; width:280px; }
.search_field { font-style:italic; width:220px; padding:5px 30px 5px 5px; float:right; right:-20px; position:relative; z-index:2; margin:0; }
.search_icon { float:right; position:relative; top:5px; right:5px; z-index:3; }
/**============================== Main Navigation ==============================**/
#main_nav { font-size:1.4em; list-style:none; margin:39px 0 0; text-transform:uppercase; }
#main_nav a { text-decoration:none; }
#main_nav li { display:inline; float:left; }
#main_nav li a { display:block; padding:8px 18px 10px; margin:0; }
#main_nav li a.current { margin:0; display:inline-block; }
/**============================== Sub Navigation ==============================**/
#main_nav li ul { position:absolute; left:0; top:87px; height:28px; }
#main_nav li ul li { text-transform:capitalize; list-style:none; float:left; font-size:.85em; margin-right:0; height:25px; }
#main_nav li ul li a { text-decoration:none; }
#main_nav li ul li a:hover { text-decoration:underline; }
#main_nav li ul li a.current { font-weight:bold; height:21px; text-decoration:none; }
/**============================== Navigation in box header ==============================**/
.box .header .sub_nav { position:absolute; top:0; right:0; }
.box .header .sub_nav li { text-transform:uppercase; list-style:none; display:inline-block; margin:0 5px; font-size:.6em; letter-spacing:.05em; float:left; }
.box .header .sub_nav li a { display:block; text-decoration:none; padding:5px 10px; }
.sub_nav .current,.sub_nav .current:hover,.sub_nav .current a { display:block; padding:5px 10px; }
/** ============================== Vertical Nav ============================== **/
.vertical_nav { padding:0 0 0 10px; font-size:1em; float:left; width:170px; list-style-position:outside; }
.vertical_nav li { list-style:none; margin:0 0 10px; }
.vertical_nav li a { padding-left:10px; }
.vertical_nav li .current { display:block; height:25px; text-decoration:none!important; }
/************* Box body with vertical Navigation *************/
.body_vertical_nav { padding:20px 0; }
.body_vertical_nav .main_column { margin:-25px 0 0 180px; padding:0 15px; }
.panes .pane { display:none; }
/* Hide Panes */
/** ============================== Horizontal Nav ============================== **/
.horizontal_nav { padding:10px 0 0 10px; margin-bottom:25px; height:37px; font-size:.9em; }
.horizontal_nav li { float:left; padding:8px 10px; list-style:none; margin-right:5px; }
.horizontal_nav li a { text-decoration:none; }
.horizontal_nav li a:hover { text-decoration:underline; }
.horizontal_nav li.active { padding:6px 15px; }
.horizontal_nav li.active a { font-weight:bold; text-decoration:none; }
/** ==============================  Accordion  ============================== **/
/* accordion header */
#accordion h2 { margin:0; font-size:1em; padding:5px 15px; font-weight:normal; cursor:pointer; position:relative; }
/* currently active header */
#accordion h2.current { cursor:default; }
/* accordion header arrows */
#accordion h2 .arrow_down,#accordion h2 .arrow_right { position:absolute; top:10px; right:10px; }
#accordion h2 .arrow_down { display:none; }
#accordion h2.current .arrow_right { display:none; }
#accordion h2.current .arrow_down { display:block; }
/* Accordion pane */
#accordion div.pane { display:none; padding:10px 10px; font-size:1em; }
/**============================== Page Layout with Sidebar ==============================**/
.sidebar { width: 300px; float:right; margin:0 0 0 25px; }
.main_column { margin-right: 312px; }
/*specify column width here, should be sidebar width + 20px*/
.column-left { width:49%; float:left; }
.column-right { width:49%; float:right; }
/**============================== Small Box in Sidebar ==============================**/
.small_box { margin-bottom:15px; }
.small_box .header { height:30px; font-size:1.3em; line-height:1.8em; padding:0 12px; }
.small_box .header img { position:relative; top:2px; float:right; }
.small_box .body { padding: 5px 12px; font-size:.9em; }
/**============================== Box ==============================**/
.box { margin-bottom:15px; }
.box .header { height:40px; font-size:1.5em; line-height:1.8em; padding:0 15px; position:relative; }
.box .header img { position:relative; margin-right:10px; }
.box .body { padding: 2px 15px 5px; }
/** ============================== Footer ============================== **/
#footer { text-align:center; padding:20px 0; height:45px; position:absolute; width:100%; bottom:0; font-size:1.1em; }
/** ============================== Bulleted List ============================== **/
.bulleted_list li { list-style:none; padding-left:15px; line-height:17px; margin-bottom:15px; list-style-position:outside; }
/** ============================== User List ============================== **/
.user_list { margin:0; padding:0; list-style-position:outside; }
.user_list li { font-size:1.2em; padding:15px 2px; list-style:none; margin:0; min-height:50px; }
.user_list li img { display:inline; margin-right:5px; float:left; }
.user_list li small { display:block; font-size:.8em; }
/** ============================== Tooltip ============================== **/
.tooltip,.tooltip.bottom { display:none; font-size:1.2em; padding:5px 10px; line-height:1.3em; text-align:center; }
/**  ============================== Jump Menu ============================== **/
.jump_menu { position:absolute; top:120px; right:0; z-index:500; }
.jump_menu_btn { width:158px; height:28px; cursor:pointer; z-index:500; display:block; text-indent:-9999px; position:relative; }
.jump_menu_btn.active { background-position:bottom left; }
.jump_menu_list { display:none; position:absolute; top:10px; right:0; padding:20px 0 10px; font-size:1.2em; width:155px; }
.jump_menu_list li { list-style:none; }
.jump_menu_list li a { display:block; text-decoration:none; padding:5px 20px; }
.jump_menu_list li a img { float:left; position:relative; left:-10px; }
/**++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++**/
/**==================            End of Page CSS                   ==================**/
/**++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++**/