/**============================== Navigation in box header ==============================**/
.box .header .sub_nav { position:absolute; top:0; right:0; }
.box .header .sub_nav li { text-transform:uppercase; list-style:none; display:inline-block; margin:0 5px; font-size:.6em; letter-spacing:.05em; float:left; line-height: 30px}
.box .header .sub_nav li a { display:block; text-decoration:none; padding:5px 10px; }
.sub_nav .current,.sub_nav .current:hover,.sub_nav .current a { display:block; padding:5px 10px; }
.sub_nav .current,.sub_nav .current:hover,.sub_nav .current a { background:#FFF; color:#004a7e!important; }
/**============================== Small Box in Sidebar ==============================**/
.small_box { margin-bottom:15px; }
.small_box .header { height:30px; font-size:1.3em; line-height:1.8em; padding:0 12px; }
.small_box .header img { position:relative; top:2px; float:right; }
.small_box .body { padding: 10px 10px 5px 10px; font-size:.9em; }
.small_box { background:#fdfdfd; }
.small_box .header { background:url(../images/small_box_header_bg.gif) repeat-x bottom; color:#004A7E; }
/**============================== Box ==============================**/
.box { margin-bottom:15px; }
.box .header { height:40px; font-size:1.5em; line-height:1.8em; padding:0 15px; position:relative; }
.box .header img { position:relative; margin-right:10px; }
.box .body { padding: 15px 15px 5px; }
/***** BOXES *****/
.box { background:#fdfdfd; }
.box .header { background:url(../images/box_header_bg.gif) repeat-x bottom; color:#004A7E; }
.box, .small_box { -moz-box-shadow: 0px 0px 10px #808080; -webkit-box-shadow: 0px 0px 10px #808080; }
.small_box .header, .box .header, .box, .small_box { border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; }
/** ============================== Vertical Nav ============================== **/
.vertical_nav { padding:0 0 0 10px; font-size:1em; float:left; width:170px; list-style-position:outside; }
.vertical_nav li { list-style:none; margin:0 0 10px; }
.vertical_nav li a { padding-left:10px; }
.vertical_nav li .current { display:block; height:25px; text-decoration:none!important; }
.vertical_nav li a { color:#333; }
.vertical_nav li a:hover { color:#000; }
.vertical_nav li .current { background:url(../images/vertical_nav_bg.gif) no-repeat left top; color:#000!important; }
/************* Box body with vertical Navigation *************/
.body_vertical_nav { padding:20px 0; }
.body_vertical_nav .main_column { margin:-25px 0 0 180px; padding:0 15px; }
.panes .pane { display:none; }
.body_vertical_nav { background:url(../images/vertical_nav_bg.jpg) repeat-y left top; }
/** ============================== Horizontal Nav ============================== **/
.horizontal_nav { padding:10px 0 0 10px; margin-bottom:25px; height:37px; font-size:.9em; }
.horizontal_nav li { float:left; padding:8px 10px; list-style:none; margin-right:5px; }
.horizontal_nav li a { text-decoration:none; }
.horizontal_nav li a:hover { text-decoration:underline; }
.horizontal_nav li.active { padding:6px 15px; }
.horizontal_nav li.active a { font-weight:bold; text-decoration:none; }
.horizontal_nav { background:#FFF url(../images/horizontal_nav_bg.gif) repeat-x left bottom; }
.horizontal_nav li a { color:#006ab7; }
.horizontal_nav li a:hover { color:#000; }
.horizontal_nav li.active { background:#FFF; border-top:1px solid #006ab7; border-right:1px solid #006ab7; border-left:1px solid #006ab7; border-bottom-style:none; }
.horizontal_nav li.active a { color:#006ab7!important; }
/**============================== Page Layout with Sidebar ==============================**/
.sidebar { width: 300px; float:right; margin:0 0 0 25px; }
.main_column { margin-right: 312px; }
/** ============================== Tooltip ============================== **/
.tooltip,.tooltip.bottom { display:none; font-size:1.2em; padding:5px 10px; line-height:1.3em; text-align:center; }
.tooltip,.tooltip.bottom { background:#000; color:#fff; z-index: 9999; font-size: 11px}