$primary: #8BC34A;
$secondary: #ECFCCB;


@import "~bootstrap/scss/bootstrap";


// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body { 
	color: $gray-600;
	#body-main {
		padding-top: 50px;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'Rubik', sans-serif;
		color: $gray-900;
	}
	hr {
		border-top: 1px solid $gray-400;
		margin: 4em 0;
	}
	
}

.btn-primary {
  color: white !important;
}

.link-unstyled {
	&,
	&:visited,
	&:hover,
	&:active,
	&:focus,
	&:active:hover {
	  font-style: inherit;
	  color: inherit;
	  background-color: transparent;
	  font-size: inherit;
	  text-decoration: none;
	  font-variant: inherit;
	  font-weight: inherit;
	  line-height: inherit;
	  font-family: inherit;
	  border-radius: inherit;
	  border: inherit;
	  outline: inherit;
	  box-shadow: inherit;
	  padding: inherit;
	  vertical-align: inherit;
	}
}

#recentEntries, #postList{
	.card {
		.card-footer {
			background-color: white;
			border: none;
		}
	}
}
#featuredPost.card {
	.card-footer {
		background-color: white;
	}
}

.pagingrow {
    text-align: center;
    padding: 40px 0;
	
	.dataTables_info {
		font-size: 12px;
	}

	.pagination{
		justify-content: center;
		a {
			padding: 0 12px;
		}
		a.active {
			color: #555;
		}
	}
}

.comment.card {
	.card-header {
		background-color: white;
	}
}
.centered { text-align: center !important; }
.inline{ display: inline !important; }
.margin10{ margin: 10px; }
.padding10{ padding: 10px; }
.margin0{ margin: 0px; }
.padding0{ padding: 0px; }

.footer {
	margin-top: 45px;
	padding: 35px 35px;
	border-top: 1px solid #e5e5e5;

	p {
		margin-bottom: 0;
		color: #555;
	}

}

