$primary: #8BC34A;
$secondary: #ECFCCB;


@import "~bootstrap/scss/bootstrap";


// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body { 
	position: relative;
	color: $gray-600;
	box-sizing: border-box;
	#body-main {
		padding-top: 50px;
		min-height: calc(90vh - 200px - 6.5em);
		box-sizing: border-box;
		padding-bottom: 6.5em;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'Rubik', sans-serif;
		color: $gray-900;
	}
	hr {
		border-top: 1px solid $gray-400;
		margin: 4em 0;
	}
	footer {
		position: absolute;
		min-height: 200px;
		bottom: -200px;
		width: 100%;
		margin-top: 45px;
		padding: 35px 35px;
		border-top: 1px solid #e5e5e5;
		
		p {
			margin-bottom: 0;
			color: #555;
		}
	}
}

.btn-primary {
  color: white !important;
}

.link-unstyled {
	&,
	&:visited,
	&:hover,
	&:active,
	&:focus,
	&:active:hover {
	  font-style: inherit;
	  color: inherit;
	  background-color: transparent;
	  font-size: inherit;
	  text-decoration: none;
	  font-variant: inherit;
	  font-weight: inherit;
	  line-height: inherit;
	  font-family: inherit;
	  border-radius: inherit;
	  border: inherit;
	  outline: inherit;
	  box-shadow: inherit;
	  padding: inherit;
	  vertical-align: inherit;
	}
}

#recentEntries, #postList, .searchResults{
	.card {
		.card-footer {
			background-color: white;
			border: none;
		}
		.card-title h2, h4 {
			transition: all 0.2s;
		}
		transition: all 0.2s;
		&:hover {
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
			.card-title h2, h4 {
				color: $primary;
			}
		}
	}
}
#featuredPost.card {
	transition: all 0.2s;
	.card-footer {
		background-color: white;
	}
	.card-title h2 {
		transition: all 0.2s;
	}
	&:hover {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
		.card-title h2 {
			color: $primary;
		}
	}
}

.searchResults {
	.card {
		.card-header {
			border-bottom: none;
		}
		a {
			padding: 0;;
		}
	}
}

.subtitle {
	font-size: 18px;
}
.icon-box {
	background-color: $primary;
	color: white;
	padding: 2em 3em;
	border-radius: 25px;
}

.searchBlogPage {

	.form-control {
		width: 80%;
		padding-right: 50px;
    	height: 45px;
		display: inline;
	}
	button {
		margin-left: -100px;
		margin-top: -4px;
		border: 0;
		-webkit-appearance: none;
		padding: 6px 20px;
	}
}

.pagingrow {
    text-align: center;
    padding: 40px 0;
	
	.dataTables_info {
		font-size: 12px;
	}

	.pagination{
		justify-content: center;
		a {
			padding: 0 12px;
		}
		a.active {
			color: #555;
		}
	}
}

.pagingTop {
	font-size: 12px;
}

.categories {
	.badge-category {
		background-color: transparent;
		border: 1px solid $primary;
		color: $primary;
		font-size: 0.85em;
		cursor: pointer;
		margin: 0.2em;
		.selected, &:hover {
			background-color: $primary;
			color: white;
		}
	}
}

.archives {
	select {
		@extend .form-control;
	}
	.form-control {
		width: auto;
		display: inline;
	}
	.minimal {
		background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%);
		background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px);
		background-size: 5px 5px, 5px 5px;
		background-repeat: no-repeat;
		padding-right: 30px;
	}
}
.comment-area {
	padding-top: 3em;
}
.comment, .comment-area {
	h4 {
		font-size: 1.2em;
	}
	p {
		margin-bottom: 0;
	}
	hr {
		margin: 1em;
	}
}

.centered { text-align: center !important; }
.inline{ display: inline !important; }
.margin10{ margin: 10px; }
.padding10{ padding: 10px; }
.margin0{ margin: 0px; }
.padding0{ padding: 0px; }

.img-circle {
	border-radius: 50%;
}

.hidden {
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.form-control {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.show {
	opacity: 1;
}

#goToTop {
	position: fixed;
    bottom: 150px;
	right: 40px;
	z-index: 1;
	background-color: $gray-500;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border: none;
	border-radius: 50%;
	padding: 15px 20px;
	&:hover {
		background-color: $primary;
	}
}

.sidenav {
	.sidebar-nav {
		background-color: $gray-100;
		padding: 20px 10px;
		border-radius: 10px;
		ul {
			position: relative;
			list-style: none;
			margin-bottom: 0;
			padding-left: 1em;
			li {
				padding-bottom: 0.5em;
				margin-bottom: 1em;
				border-bottom: white 1px solid;
				a {
					text-decoration: none;
				}
			}
		}
	}
	
}

@media only screen and (max-device-width: 640px) and (orientation: landscape) {
	body {
		#body-main {
			padding-bottom: 5.5em;
		}
	}
}