# General Ignores + IDE
.DS_Store
settings.xml
WEB-INF
.env

# logs + tests
logs/**
tests/results/**

# npm
**/node_modules/*
npm-debug.log
yarn-error.log

## Ignored Dependencies
coldbox/*
testbox/*
modules/*
modules/**/apidocs/**