.bg-default {
    background:$defaultColor;
    color:#fff;
    border:none;
}
.bg-primary {
    background:$primaryColor;
    color:#fff;
    border:none;
}
.bg-success {
    background:$successColor;
    color:#fff;
    border:none;
}
.bg-warning {
    background:$warningColor;
    color:#fff;
    border:none;
}
.bg-info {
    background:$infoColor;
    color:#fff;
    border:none;
}
.bg-danger {
    background:$dangerColor;
    color:#fff;
    border:none;
}