 .badge.badge-success {
    background-color: $successColor;
    color: #fff;
}
.badge.badge-info {
    background-color: $infoColor;
    color: #fff;
}
.badge.badge-warning {
    background-color: $warningColor;
    color: #fff;
}
.badge.badge-danager {
    background-color: $dangerColor;
    color: #fff;
}