html{
	font-size: $cb-base-size-font-base;
    scroll-behavior: smooth;
}
 
 body {
    color:$cb-semantic-color-font-base;
    background: $cb-semantic-background-color;
    font-family: 'Source Sans Pro',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin:0px;
    padding:0px;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 100%;
}
a:link, a:visited  {
    outline: none;
    color: $cb-semantic-color-link;
}
a:hover, a:focus, a:active {
    outline: none;
    color: $cb-semantic-color-link-hover;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Source Sans Pro', Arial, sans-serif;
}
p {
    font-size: 14px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
img {
    max-width: 100%;
}
::selection {
    background:#fff7dd;
}
::-moz-selection {
    background:#fff7dd;
}