 .form-control {
    color: #717171;
    outline: 0;
    height: 18px;
    padding: 6px 11px;
    line-height: 18px;
    font-size: 13px;
    background-color: #fafafa;
    min-height: 36px;
    filter: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
     @include roundBorders($cb-radius-xs);
     @include transition(all, .2s, linear);
}
.form-control:focus {
    border-color: #7c7c7c;
}
select.form-control {
    height: auto;
}
.form-horizontal.form-border .form-group {
    border-bottom: 1px solid #eff2f7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.input-group {
    margin-bottom: 15px;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #b94a48;
}
label.error {
    color:#fff;
    background:#b94a48;
    border:solid thin #fff;
    padding:3px 5px;
}
label.valid {
    color:#fff;
    background:#5CB85C;
    border:solid thin #fff;
    padding:3px 5px;
}
.icheck div, .icheck .disabled {
    float:left;
}
.icheck div {
    margin-right:10px;
}
.icheck label {
    font-weight:normal;
}
.icheck .checkbox, .icheck .radio {
    margin-bottom:10px;
}
.template-defined{
	padding: 5px;
	background-color: $warningBackgroundColor;
	// corrections to toolbars having yellow background
	.editor-toolbar {
		background-color: #fff;
		opacity: 1;
		a{
			opacity: .5;
			&:hover{
				opacity: .75;
			}
		}
		&:hover{
			opacity: 1;

		}
	}
}
.template-required{
	padding: 5px;
	background-color: $warningBackgroundColor;
	&.template{
		margin-bottom:10px;
	}
}
.controls {
	.toggle.btn {
		min-width: 75px;
		min-height: 43px;
	}
    > .toggle.btn-default {
        border-color: $cb-semantic-color-neutral-weak;
    }
    .btn-default.toggle-off {
        background-color: $cb-semantic-color-neutral-weak;
        border-color: transparent;
    }
    .btn-default.toggle-on {
        background-color: $cb-semantic-color-primary;
    }
    .btn-default.toggle-handle {
        background-color: #fff;
        border-color: transparent;
        box-shadow: $cb-shadow-sm;
        width: 35%;
    }
}
