/* Header */
 #header {
    z-index: 200;
    background: #fff;
    min-height: 80px;
    @include transition(all,.3s, ease-in-out);
    margin-right:0;
         .brand {
        float: left;
        width: 240px;
        min-height: 80px;
        padding: 0 0 0 10px;
        position: relative;
        background: $primaryColor;
       }
        .logo {
           color: #fff; 
           font-size: 1.7em;
           text-transform: uppercase;
           padding: 23px 0 0 57px;
           display: inline-block;
       }
        .logo span {
           font-weight: 700;
       }
        .toggle-navigation button:hover,
           .toggle-navigation button:active,
           button#toggle-mail:hover,
           button#toggle-mail:active   {
           background: $primaryColor;
       }
        .toggle-navigation button:hover i,
           button#toggle-mail:hover i {
           color:#F6F6F6;
       }
        .toggle-navigation.toggle-left {
           margin: 23px 0 0 20px;
           display: inline-block;
       }
        .btn-default {
            padding: 3px 9px;
            background: #F6F6F6;
           @include roundBorders(50%);
            width: 35px;
            height: 35px;
        }
         .btn-default .fa {
            cursor: pointer;
            color:#797979;
        }

        a.btn-default  i{
          padding-top:7px;
        }
          .user-nav {
            float:right;
            padding-top: 23px;
            padding-right: 20px;
        }
           .user-nav ul li {
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
        }
           .user-nav ul li .profile-photo {
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;
        }
           .user-nav ul li.dropdown.messages .dropdown-menu {
            width: 350px;
        }
           .user-nav ul li.dropdown.settings .dropdown-menu {
            width: 125px;
        }
           .dropdown.settings .dropdown-menu>li>a:hover, .dropdown.settings .dropdown-menu>li>a:active {
            background-color: #16a086;
            color:#fff;
        }
          .dropdown.settings .dropdown-menu>li>a:hover .badge.badge-danager {
            background-color: #fff;
            color: $primaryColor;
        }
          .user-nav ul li.dropdown.messages .dropdown-menu > li > a:hover, 
           .user-nav ul li.dropdown.messages .dropdown-menu > li > a:hover .message-info .time {
            background:$primaryColor;
            color:#fff;
        }
           .user-nav ul li.dropdown.messages .dropdown-menu {
            @include roundBorders(3px);
            left: -150px;
            top: 48px;
            background-color: #F6F6F6;
            border:none;
            -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            padding: 0;
        }
           .user-nav ul li.dropdown.messages .dropdown-menu:before {
            bottom: 100%;
            left: 48%;
            border: solid transparent;
            content:" ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(238, 238, 238, 0);
            border-bottom-color: $dangerColor;
            border-width: 8px;
            margin-left: -8px;
        }
          .messages {
            margin: 0 15px;
        }
          .messages .badge {
            position: absolute;
            top: -10px;
            left: -5px;
        }
          .options i {
            color: #797979;
            font-size: 1.1em;
        }
          .user-nav ul li.dropdown.settings {
            line-height: 39px;
            margin-right: 10px;
            padding: 0 10px 0 10px;
        }
          .user-nav ul li.dropdown.settings .dropdown-menu > li > a {
            padding: 5px 10px;
            font-size: 12px;
        }
          .user-controls ul li.dropdown.settings .dropdown-menu > li {
            display: block;
        }
          .user-nav ul li.dropdown.settings .dropdown-menu {
            @include roundBorders(3px);
            left: -20px;
            top: 48px;
            background-color: #F6F6F6;
            border-color: #e7e8ec;
            -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
        }
          .user-nav ul li.dropdown.settings .dropdown-menu:after {
            bottom: 100%;
            left: 78%;
            border: solid transparent;
            content:" ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(238, 238, 238, 0);
            border-bottom-color: #F6F6F6;
            border-width: 8px;
            margin-left: -8px;
        }
          .user-nav ul li.dropdown.settings .dropdown-menu:before {
            bottom: 100%;
            left: 78%;
            border: solid transparent;
            content:" ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(238, 238, 238, 0);
            border-bottom-color: #e7e8ec;
            border-width: 8px;
            margin-left: -8px;
            top: -17px;
        }
          .dropdown.settings .dropdown-menu > li, 
           .dropdown.messages .dropdown-menu > li {
            display: block;
        }
        .dropdown.settings > a{
            font-weight:600;
            font-size: 12px;
           }
          li.dropdown ul.dropdown-menu.alert > li h1 {
           @include roundBorders(3px 3px 0 0);
            background-color: $dangerColor;
            margin: 0;
            font-size: 13px;
            padding: 10px;
            font-weight: 400;
            color: white;
        }
          .user-nav ul li.dropdown.messages .dropdown-menu > li:last-child a {
            background-color: white;
            font-weight: 400;
            font-size: 12px;
            margin: 0;
            @include roundBorders(0 0 3px 3px);
            text-align: right;
            padding: 10px 15px;
        }
          .user-nav ul li.dropdown.messages .dropdown-menu > li:last-child a:hover {
            background: $primaryColor;
            color: #fff;
        }
          .user-nav ul li.dropdown.messages .dropdown-menu > li > a {
            margin: 10px;
            @include roundBorders(3px);
            background-color: #fcfcfc;
            color: #797979;
        }
          .user-nav ul li.dropdown.messages .dropdown-menu > li > a .message-info {
            vertical-align: top;
            display: inline-block;
            font-size: 11px;
            margin-left: 5px;
            width: 225px;
        }
          .user-nav ul li.dropdown.messages .dropdown-menu > li > a .message-info .sender {
            font-weight: 500;
        }
          .user-nav ul li.dropdown.messages .dropdown-menu > li > a .message-info .time {
            font-weight: 300;
            font-size: 9px;
            color: #b2b2b2;
        }
          .user-nav ul li.dropdown.messages .dropdown-menu > li > a .message-info .message-content {
            white-space: normal;
            margin-top: 5px;
        }
}