 //Rounded Borders
@mixin roundBorders($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    -o-border-radius:$radius;
    border-radius:$radius;
}

//Transitions
@mixin transition ($prop: all, $time: 1s, $ease: linear) {
    -webkit-transition: $prop $time $ease;
    -moz-transition: $prop $time $ease;
    -o-transition: $prop $time $ease;
    -ms-transition: $prop $time $ease;
    transition: $prop $time $ease;

}

//Breakpoints
@mixin breakpoint($class) {
    @if $class==xs {
      @media (max-width: 639px) {
        @content;
      }
    }
    @else if $class==sm {
        @media (min-width: 640px) {
          @content;
        }
    }
    @else if $class==md {
      @media (min-width: 768px) {
        @content;
      }
    }
    @else if $class==lg {
      @media (min-width: 1024px) {
        @content;
      }
    }
    @else if $class==xl {
        @media (min-width: 1280px) {
          @content;
        }
      }
    @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
  }