 .progress-bar-default {
    background-color:$defaultColor;
}
.progress-bar-primary {
    background-color:$primaryColor;
}
.progress-bar-success {
    background-color:$successColor;
}
.progress-bar-warning {
    background-color:$warningColor;
}
.progress-bar-info {
    background-color:$infoColor;
}
.progress-bar-danger {
    background-color:$dangerColor;
}