#widget-container{
	.tab-wrapper{
		display:flex;

		#widget-sidebar {
			border:none;
		}

		.nav-tabs > li {

			&:last-child{
				margin-bottom:0;
			}

			a {
				display:flex;
				justify-content: space-between;
			}
		}

		.tab-content{
			flex-grow:1;

			.widget-store > .row{
				display:flex;
				flex-wrap: wrap;

				& > div {
					width:50%;

					.panel-body .fa-lg{
						line-height: 1;
						margin-bottom:10px;
					}
				}
			}
		}
	}
}

@media( max-width:800px ){
	#widget-container .tab-wrapper .tab-content .widget-store > .row > div {
		width:100%;
	}
}