<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="author" content="Igor Penjivrag (www.colorlightstudio.com)" />
	<meta name="description" content="Site description" />
	<meta name="keywords" content="key, words" />
	<title>Truly Simple</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>
<div id="wrap">
<div id="top">
<h2><a href="#" title="Back to main page">Truly Simple</a></h2>
<div id="menu">
<ul>
<li><a href="#" class="current">home</a></li>
<li><a href="#">about</a></li>
<li><a href="#">portofolio</a></li>
<li><a href="#">contact</a></li>
</ul>
</div>
</div>
<div id="content">
<div id="left">
<h2>Welcome to Truly Simple</h2>
<p>Simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type specimen book.</p>
 <ul>
 <li>Survived not only five centuries.</li>
 <li>Leap into electronic typesetting.</li>
 <li>Remaining essentially unchanged.</li>
 <li>Popularised in the 1960s.</li>
 <li>Release of Letraset sheets.</li>
 </ul>
 <h2>Functionality or performance</h2>
 <p>There are many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, or <a href="#">randomised words</a> which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure.
 </p>
</div>
<div id="right">
<div class="box">
<h2>About</h2>
<p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non characteristic words generators on the Internet.
</p>
<p><a href="#">Read more about us</a></p>
<h2 style="margin-top:17px">Recent Entries</h2>
<ul>
<li><a href="#">Randomised words</a> <i>10 nov 06</i></li>
<li><a href="#">Look even slightly believable</a> <i>8 nov 06</i></li>
<li><a href="#">Suffered alteration in form</a> <i>7 nov 06</i></li>
<li><a href="#">Embarrassing hidden</a> <i>5 nov 06</i></li>
<li><a href="#">Passages of lorem ipsum</a> <i>3 nov 06</i></li>
</ul>
<h2>Write to us</h2>
<p>There are many variations of passages of Lorem Ipsum available, <a href="#">but the majority</a> have suffered alteration in some form, by injected humour.</p>
</div>
</div>
<div id="clear"></div></div>
<div id="footer">
<p>Copyright 2006 Truly Simple. Designed by <a href="http://www.colorlightstudio.com">Color Light Studio</a>.</p>
</div>
</div>

</body>
</html>