body { margin:0; padding:0; font-size:0.9em; line-height:20px; font-family: "Myriad Pro", "Trebuchet MS", Arial; border:1px solid #000; background:#000; }
a { color:#97070b; text-decoration:none;}
a:hover { text-decoration:underline;}
p { padding: 0 10px 5px 10px; }
h1 { margin:0; padding:10px 0 0 10px; text-transform:uppercase; font-size:1.5em; color:#be141d; font-weight:normal;}
#header { background:url(../images/header_bckg.jpg) no-repeat top right #B9121C;}
#logo { padding:30px 20px 0 40px; height:131px; background:url(../images/head_bckg.jpg) no-repeat #B9121C; }
#slogan { float:left; color:#FFFFFF; font-size:26px; text-transform:uppercase; padding-top:40px}
#logo a{ color:#fff; text-decoration:none; font-weight:bold; font-size:20px; text-transform:uppercase; letter-spacing:5px; }
#logo_text { float:right; width:240px; text-align:left; font-size:12px; color:#fff; line-height:15px; padding-top:5px;}
#logo_text strong{font-size:16px}
#menu { background: url(../images/menu_bckg.gif) repeat-x #fff; height:40px; padding-top:10px;}
#menu_list {width:600px; margin:0 auto;}
#menu a { display:block; color:#000000; float:left; font-size:14px; text-transform:uppercase; font-weight:bold; text-decoration:none; margin:0 20px; padding-top:8px;}
#menu a:hover{padding-top:10px;}
.splitter { display:block; float:left;}
.item img { background-color:#FFFFFF; padding:6px; border:1px solid #d0d0d0;}
.item a { display:block; float:left; font-size:12px; color:#bd131d;}
.description { display:block; float:right; width:130px; padding: 0 10px 20px 0; line-height:12px;}
p.additional { margin:0 10px; color:#9c9c9c; font-size:11px; line-height:12px; border-top:1px solid #bdbdbd; padding: 10px 10px 30px 45px; background:url(../images/umbrella.gif) no-repeat 0 12px;}
#text { margin: 0 325px 0 20px; }
#text li {list-style:none; padding-left:20px; background:url(../images/li.gif) no-repeat 0px 4px;}
#sidebar { float:right; width:245px; padding: 10px 20px 0 30px; font-size:12px;}
#sidebar a{ font-weight:bold; }
#sidebar h1 { margin:0; padding:0 0 20px 0; text-transform:uppercase; font-size:18px; color:#000; font-weight:normal;}
#main {  background:url(../images/sidebar_bckg.gif) no-repeat top right #fff; padding:20px 0 0 0; min-height:700px;}
#footer {background:url(../images/footer_bckg.gif) repeat-x #000; height:57px; clear:both;  }
#left_footer { float:left; padding:20px 0 0 30px; background:url(../images/c.gif) no-repeat 30px 35px;  color:#fff; font-size:12px;}
#left_footer a { color:#fff;}
#left_footer a:hover { text-decoration:none;}
#right_footer { float:right;  padding:20px 30px 0 0; color:#fff;  font-size:12px; text-align:right;}
#right_footer a { color:#fff;}
p.clr, .clr { clear:both; padding:0; margin:0;}
/********** forms **********/
label { margin:0; padding:5px 0; font:bold 12px Arial, Helvetica, sans-serif; color:#222; text-transform:capitalize;display: block;}
input { border:1px solid #e8e8e8; margin:5px 0; padding:5px 2px; background:#f8f8f8;}
input[type=submit]{cursor:pointer}
textarea { border:1px solid #e8e8e8; margin:10px 0; padding:2px; background:#f8f8f8; height:120px;}
#commentForm {width: 500px;padding:10px;margin:-50px 0px 20px 0px;background-color:#f5f5f5;-moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; -moz-border-radius:6px; -webkit-border-radius:6px; display: none;float: right;}
#commentForm * { color:#7a7a7a;}
#commentForm label span { font:normal 10px Arial, Helvetica, sans-serif;}
#commentForm input { width:480px; border:1px solid #e8e8e8; margin:5px 0; padding:5px 2px; height:15px; background:#f8f8f8;}
#commentForm textarea { width:480px; border:1px solid #e8e8e8; margin:10px 0; padding:2px; background:#f8f8f8; height:120px;}
#commentForm .buttons { margin:5px 0 5px 0;}
#commentForm .buttons input { width: 80px;padding:3px 0; height:40px; cursor: pointer; color: black;}
#commentForm .buttons input:hover{background-color: #0074c6; color: white;}
/** ============================== Tooltip ============================== **/
fieldset, .button, .button2, .buttonred, .buttonsmall, .small_box, .box, .body_vertical_nav,.tooltip, .tooltip.bottom,div.info, div.warning, div.error  { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.tooltip,.tooltip.bottom { background:#000; color:#fff; z-index: 9999;display:none; font-size: 14px; font-weight:bold; padding:5px 5px; line-height:1.3em; text-align:center;}
/***** Form Toolbars ***/
.filterBar { margin:10px 0 2px; }
.buttonBar { float:  right; margin:7px 5px 0px 0px;}
.contentBar { padding:10px;margin:10px 0px;background-color:#f5f5f5;-moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; -moz-border-radius:6px; -webkit-border-radius:6px;}
.infoBar { padding:10px;margin:10px 0px;background-color: #fdfdbd;-moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; -moz-border-radius:6px; -webkit-border-radius:6px;border:1px solid #ccc;font-weight: bold;}
.actionBar { margin:10px 0 5px; }
#bottomCenteredBar { margin:20px 0 0; text-align:right; }
#bottomCenteredLoader { margin:10px 0 0; text-align:center; display:none; }
/**============================== Utility Classes ==============================**/
.inline { display:inline; margin:5px 0; }
.floatLeft { float:left!important; }
.floatRight { float:right!important; }
.textRight { text-align:right!important; }
.textLeft { text-align:left!important; }
.textCenter { text-align:center!important; }
.center { text-align:center!important; margin:auto!important; }
.padding10 { padding:10px; }
.margin10 { margin:10px; }
.width98{ width: 98%; }
.width95{ width: 95%; }
.hidden { display:none!important; }
.topAligned{vertical-align: text-top !important;}
/**============================== ColdBox MessageBox ==============================**/
.cbox_messagebox { font-weight:bold; margin:10px; }
.cbox_messagebox_info { background:#D1E6EF url(../images/iinfo_icon.png) no-repeat scroll .5em 50%; color:#3760b5; border:1px solid #c3d7ff; margin:.3em auto; padding:0 1em 0 3.5em; }
.cbox_messagebox_warning { background:#FFF2CF url(../images/warning_icon.png) no-repeat scroll .5em 50%; color:#bc6c34; border:1px solid #bc6c34; margin:.3em auto; padding:0 1em 0 3.5em; }
.cbox_messagebox_error { background:#FFFFE0 url(../images/error_icon.png) no-repeat scroll .5em 50%; color:#b22723; border:1px solid #ff0606; margin:.3em auto; padding:0 1em 0 3.5em; }
/**============================== Table Listings ==============================**/
.selected{ background-color: #fcdddb !important; }
.tablelisting { background-color:#CDCDCD; margin:5px 0; border-spacing:1px; font-size:8pt; border-collapse:inherit!important; }
.tablelisting tr { background-color:#F7F7F7; }
.tablelisting tr.even { background-color:#ffffff; }
.tablelisting tr:hover { background:#d7eafe; }
.tablelisting th { text-align:left; background-color:#E0EFEF; padding:3px; }
.tablelisting th.center { text-align:center; }
.tablelisting th a { color:#000; background-color:inherit; text-decoration:none; border-bottom:none; }
.tablelisting th a:hover { color:#CC0001; background-color:inherit; }
.tablelisting a { text-decoration:none; border-bottom:none; }
.tablelisting a:hover { color:#CC0001; background-color:inherit; }
.tablelisting a { text-decoration:none; border-bottom:none; }
.tablelisting a:hover { color:#CC0001; background-color:inherit; }
.tablelisting td { padding:3px; }
.tablelisting td.center { text-align:center; }
.tablelisting #checkboxHolder { width:20px; }
.tablelisting #status { text-align:center; width:60px; }
/**============================== Post Specific ==============================**/
.post {margin: 10px 0px 0px 0px;}
.post-title {margin-left: 2px;margin-bottom: 30px;}
.post h2{line-height: 100%;font-size: 20px;margin: 0px 0px 0px 45px;}
.post h2 a{ color: #525252; line-height: 100%; text-decoration: none;}
.post h2 a:hover{ color: #ee8c42;}
.post-date {cursor: pointer; width: 45px; height: 49px;	float:left;	background: url(../images/date-bg.gif) no-repeat; }
.post-month {cursor:pointer;font-size: 11px;text-transform: uppercase;color: #FFFFFF;text-align: center;display:block;line-height: 11px;padding-top: 2px;margin-left: -3px;}
.post-day {font-size: 18px;text-transform: uppercase;color: #999999;text-align: center;display:block;line-height: 18px;padding-top: 7px;margin-left: -3px;}
.post-cat {background: url(../images/tag_blue.png) no-repeat;padding-left: 20px;padding-top:1px;float:left;font-size: 12px;margin: 0px 0px 0px 5px;}
.post-comments {float: right;font-size: 12px;text-align: right;margin-top: -35px;}
.post-comments img{margin:0px}
.post-content {padding-top: 10px;margin-top:25px;}
.post-content-author{margin:0px 0px 10px 0px;float: right;font-size: 12px;
padding:10px;background-color:#f5f5f5;-moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; -moz-border-radius:6px; -webkit-border-radius:6px;}
.post .separator{border-bottom: 1px solid #c0c0c0;margin: 50px 0px 60px 0px;}
.post-more{margin: 20px 10px 20px 0px; font-weight: bold; font-size: 14px;}
.post-top-gap{margin: 20px 0px 0px 0px;}
.categoryList{margin: 8px 0px 0px 0px; font-size: 14px;}
/**============================== Button Specific ==============================**/
.button,.button2,.buttonred { padding:4px 7px 7px; cursor:pointer; font-weight:bold; margin-right:3px; text-decoration:none; -webkit-border-radius:5px; -khtml-border-radius:5px; }
.button { background:#fff url(../images/button_bg.gif) repeat-x left bottom; border:1px solid #c6c6c6; color:#595959; }
.button:hover { background:#fff url(../images/button_bg_hover.gif) repeat-x left bottom; border:1px solid #c6c6c6; }
.button2 { background:#0074c6 url(../images/button2_bg.gif) repeat-x left bottom; border:1px solid #a9cbf3; color:#fff; }
.button2:hover { background:#0063a8 url(../images/button2_bg_hover.gif) repeat-x left bottom; border:1px solid #a9c8ed; }
.buttonred { background:#c6c6c6 url(../images/buttonred_bg.gif) repeat-x left bottom; border:1px solid #c6c6c6; color:#fff; }
.buttonred:hover { background:#0063a8 url(../images/buttonred_bg_hover.gif) repeat-x left bottom; border:1px solid #a9c8ed; }
.button:active,.button2:active,.buttonred:active,.buttonsmall { color:#000; }
.buttonsmall { background:#fff url(../images/button_bg.gif) repeat-x left bottom; border:1px solid #c6c6c6; color:#000; cursor:pointer; -moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; }
.buttonsmall:hover { background:#fddedc; border:1px solid white; }
/** ============================== PAGING TABS =============================== **/
.pagingTabs { font-size: 12px; text-align:center; margin: 0px 20px 0px 0px;}
.pagingTabs a { color:#000; padding:2px 4px; background-color:#fff; border:1px solid #ccc; margin-left:2px; }
.pagingTabs a:hover { color:#000; background-color:#FCF9C3; border:1px solid black; }
.pagingTabs a.selected { color:#000; background-color:#FCF9C3; border:1px solid #AF3D15; }
.pagingTabsCarrousel { margin-top:5px; }
/** ============================== comments =============================== **/
.comment{border-bottom: 1px solid #E5E5E5;color: #222222;margin-bottom: 18px;margin-left: 5px;}
.comment h4{font-weight: bold;margin:0;padding: 10px;}
.comment p{color: #666666;font-size: 12px; padding: 0;}
.commentContent{margin: 15px 0px 15px 5px;font-size: 12px;}
.commentPicture{float: left;padding: 5px;height: 60px;}
/* error messages - validation */
.invalid{border:2px solid #ff9289;-moz-box-shadow:0 0 6px #ddd;-webkit-box-shadow:0 0 6px #ddd;padding:5px;z-index: 9999;}
.error{	height:20px;background-color:#ffcfcb;border:1px solid #ff9289;font-size:12px;font-weight: bold;color:#000;padding:3px 10px;margin-left:-2px;z-index: 9999;-moz-border-radius:4px;-webkit-border-radius:4px;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0;-webkit-order-bottom-left-radius:0;-webkit-border-top-left-radius:0;-moz-box-shadow:0 0 6px #ddd;-webkit-box-shadow:0 0 6px #ddd;}
.error p{margin-top: 3px;}
/** ============================== search results =============================== **/
.highlight { background-color: yellow; font-weight:bold }
.searchResults li{ font-weight:normal; }
cite {color: green; font-size:12px }