#FileBrowser #container{
	font-family: Verdana, Arial, Helvetica, sans-serif;
   	font-size: 11px;
    width: 98%;
    margin: 10px auto 10px auto; 
    border: 2px solid #ddd;
    background-color: #FFFFFF;
    -moz-box-shadow:0 0 15px #ccc; -webkit-box-shadow:0 0 15px #ccc; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#FileBrowser img{
	vertical-align: middle;	
}
#FileBrowser #titleBar{
    border-bottom:1px solid #ddd; 
    background-color: #f5f5f5;
    padding: 10px;
}
#FileBrowser #titleBar label{
    font-size: 10px;
    font-weight:bold;
    display: inline;
}
#FileBrowser #titleBar #title{
    float: right;
    background: url(../images/coldbox_icon.png) no-repeat left center; 
    font-size: 14px;
    font-weight:bold;
    padding-left: 25px;
}
#FileBrowser #quickViewBar{
	 display:none; text-align:center; background-color:#ccc; padding:8px; position: absolute; left:25%;
	 background-color: #555;-moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; -moz-border-radius:6px; -webkit-border-radius:6px;
}
#FileBrowser #quickViewBar #fbCloseButton{ float:right; margin: -5px 0px 0px 5px; cursor:pointer;}
#FileBrowser #quickViewBar #quickViewBarContents{float:left;}
#FileBrowser #uploadBar{
	display:none; text-align:center; background-color:#ccc; padding:5px
}
#FileBrowser #loaderBar{
	float:left;
	margin: 5px 0px 0px 0px;	
	display: none;
}
#FileBrowser #fileListing{
    line-height:15px;
    min-height: 200px;
    max-height: 400px;
	padding: 5px;
    overflow: auto;
}
#FileBrowser #uploaderHelp{text-align:center;padding:2px;background:#D9EDF7; color:#3A87AD}
#FileBrowser .fileListingUploading{ background-color: #eaeaea; opacity: 1.0; border: 2px dashed #333; }
#FileBrowser #fileUploaderMessage{
	z-index:999; font-size: 50px; opacity:0.5; width: 95%; margin:auto; text-align:center; margin-top:150px; position:absolute; display:none;
}
#FileBrowser .preview{
	width: 250px;
	height: 35px;
	margin: 10px 10px;
	position: relative;
	text-align: center;
	z-index: 9999;
	opacity: 1.0;
	border: 1px dotted #ccc;
	padding: 10px;
	background-color: white;
	float:left;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	box-shadow:0 0 2px #000;
}
#FileBrowser .fileHolder{
	display: inline-block;
	position: relative;
	font-style: bold;
}
#FileBrowser .preview.done{
	display: block;
}
#FileBrowser .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	/**box-shadow:0 0 2px #000;**/
}
#FileBrowser .progress{
	background-color:#F23E44;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}
#FileBrowser .preview.done .progress{
	width:100% !important;
}
#FileBrowser #locationBar{
	text-transform: none;
    padding:5px;
    border-bottom: 1px solid #ddd;
}
#FileBrowser .bottomBar{
    background-color: #f5f5f5;
    padding: 5px;
    font-weight:bold; 
    min-height: 20px;
}
#FileBrowser #statusText{float: left; margin:0px;font-size:10px;}
#FileBrowser #statusButtons{text-align:right}
#FileBrowser .folders, #FileBrowser .files{ cursor:pointer;margin: 0px;padding:2px; }
#FileBrowser .folders.selected, #FileBrowser .files.selected{ background-color: #B3C6F9}
#FileBrowser .divider{ align: center;}
#FileBrowser .listTypeOn{ padding: 2px; background-color: orange;}
#FileBrowser .fbItemBoxPreview{margin: 0px auto auto auto;text-align: center; cursor: pointer}
#FileBrowser .fbItemBox{float:left; margin:5px; width: 152px; height: 152px; border: 1px solid #ccc}
#FileBrowser .fbItemBox .files, #FileBrowser .fbItemBox .folders{ margin:0px; padding:5px; min-height:150px;}